/* Fondo y estilo del navbar */
.navbar {
  background-color: #343a40;
}

/* Estilo de los enlaces */
.nav-link {
  font-weight: 600;
  color: #fff !important;
  transition: color 0.3s ease;
}

.nav-link:hover {
  color: #17a2b8 !important;
}

/* Estilo para el dropdown */
.navbar-nav .dropdown-menu {
  background-color: #343a40;
}

.navbar-nav .dropdown-item {
  color: #fff;
}

.navbar-nav .dropdown-item:hover {
  background-color: #17a2b8;
  color: #fff;
}

/* Estilo del botón de contacto */
.btn-outline-primary {
  color: #007bff;
  border-color: #007bff;
  font-weight: 600;
}

.btn-outline-primary:hover {
  background-color: #007bff;
  color: white;
}